page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  .fullName {
    font-size:2.0em;
  }

  .border-bottom {
    border-bottom: 2px solid grey;
  }

  .role {
    font-size:1.5em;
    font-style:italic;
  }
}
