page-map {
    #map {
        width: 100%;
        height: 100%;
    }

    #search-result-container {
        z-index: 10000;
        position:absolute;
        top: -5px;
    }

    #track-container {
        z-index: 10000;
        position:absolute;
        top: 7px;
    }

    .button-enabled {
        background-color: map-get($colors, enabled);
        color: #fff;
    }

    .icon-vertical-middle {
        vertical-align: middle;
    }

    .popup-content-div{
        font-size: 120%;
    }

    .popup-content-div label {
        font-size: 1.2em;
        font-weight: bold
    }

    .popup-content-div button {
        font-size: 1.0em;
        text-align: center;
        padding:0.2em;
        width: 100%;
        border-radius: 0.2em;
        margin-top:0.2em;
    }

}
