<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-item text-wrap>
      <ion-icon name="school" item-start large></ion-icon>
      <h2>{{item.getHeading()}}</h2>
      <p>{{item.address}}</p>
      <ion-note> {{distance}} meters</ion-note>
    </ion-item>

    <img [src]="item.getTitlePicture()" (error)="img.src = replacePicture()" (click)="showPicture(img.src)" #img>

    <ion-card-content>
      <p>{{item.about}}</p>
    </ion-card-content>

    <ion-row *ngIf='item.floors'>
        <ion-col>
            <ion-item>
                <ion-label>
                  Floors: {{item.floors}}
                </ion-label>
                <button *ngFor="let floor of floorArray" ion-button item-end (click)="showFloor(floor)">{{floor}}</button>     
              </ion-item>
        </ion-col>
      </ion-row>
 
    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='heart'></ion-icon>
          Favourite
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          Comment
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>